venv
dataset
AerialImageDataset
NEW2-AerialImageDataset
cumberland_predictions
combined_building
cumberland_combined
cumberland_combined_v2
cumberland_combined_v3
cumberland_combined_v4
cumberland_combined_v5
cumberland_combined_v6
cumberland_combined_v7
cumberland_combined_v8
cumberland_combined_v9
cumberland_combined_v10
*.pth
checkpoints_binary/*.pth
checkpoints_binary/*.pth
checkpoints_combined/*.pth