venv
dataset
AerialImageDataset
NEW2-AerialImageDataset
cumberland_predictions
combined_building
cumberland_combined
cumberland_combined_v2
cumberland_combined_v3
cumberland_combined_v4
cumberland_combined_v5
cumberland_combined_v6
cumberland_combined_v7
cumberland_combined_v8
cumberland_combined_v9
cumberland_combined_v10
*.pth
checkpoints_binary/*.pth
checkpoints_binary/*.pth
checkpoints_combined/*.pth
cumberland_geotiff_results
cumberland_geotiff_tiles
cumberland_final
tif
ParcelsSubdivisonOnly
firesmart_property_results
firesmart_results
__pycache__
checkpoints_segformer
combined_building_v2
woodland_data
west_kelowna_imagery
west_kelowna_parcels
logan_lake_parcels
logan_lake_imagery
logan_lake_masks
logan_lake_firesmart
west_kelowna_firesmart
west_kelowna_masks
bc_tiles_temp
woodland_data_v2
west_kelowna_meta_firesmart
meta_canopy_cache
logan_lake_meta_firesmart
cumberland_ms_masks
cumberland_ms_firesmart
cumberland_meta_masks
cumberland_meta_firesmart
west_kelowna_meta_masks
logan_lake_meta_masks
cumberland_combined_v11
firesmart_property_results_v2
cumberland_imagery
cumberland_meta_highres_firesmart
cumberland_ms_highres_firesmart
cumberland_meta_highres_masks
cumberland_ms_highres_masks
silver_star_meta_firesmart
silver_star_imagery
silver_star_meta_masks
cumberland_ml_on_lowres
cumberland_ml_lowres_firesmart
firesmart_results
final_cumberland_firesmart_results
final_cumberland_firesmart_results_parcel